/*---------- GENERAL -----------*/
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'calendas_plusregular';
    src: url('../fonts/Calendas-Plus-Regular/calendas_plus-webfont.eot');
    src: url('../fonts/Calendas-Plus-Regular/calendas_plus-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Calendas-Plus-Regular/calendas_plus-webfont.woff2') format('woff2'),
    url('../fonts/Calendas-Plus-Regular/calendas_plus-webfont.woff') format('woff'),
    url('../fonts/Calendas-Plus-Regular/calendas_plus-webfont.ttf') format('truetype'),
    url('../fonts/Calendas-Plus-Regular/calendas_plus-webfont.svg#calendas_plusregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Graffiti_Paint_Brush';
    src: url('../fonts/Graffiti_Paint_Brush/graffitipaintbrush.eot');
    src: url('../fonts/Graffiti_Paint_Brush/graffitipaintbrush.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Graffiti_Paint_Brush/graffitipaintbrush.woff2') format('woff2'),
    url('../fonts/Graffiti_Paint_Brush/graffitipaintbrush.woff') format('woff'),
    url('../fonts/Graffiti_Paint_Brush/graffitipaintbrush.ttf') format('truetype'),
    url('../fonts/Graffiti_Paint_Brush/graffitipaintbrush.svg#calendas_plusregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

#container {
    overflow: hidden;
}

a {
    text-decoration: none;
}

.scroll {
    color: #fff;
}

button {
    -webkit-box-shadow: 3px 4px 0px 0px #676d79;
    box-shadow: 3px 4px 0px 0px #676d79;
    background: -o-linear-gradient(top, #ecf4fc 5%, #9395a0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #ecf4fc), to(#9395a0));
    background: linear-gradient(to bottom, #ecf4fc 5%, #9395a0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ecf4fc', endColorstr='#9395a0', GradientType=0);
    background-color: #ecf4fc;
    border-radius: 15px;
    border: 1px solid #9395a0;
    display: inline-block;
    cursor: pointer;
    color: #d23934;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0 1px 0 #bcc1cf;
}

button:hover {
    background: -o-linear-gradient(top, #9395a0 5%, #ecf4fc 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #9395a0), to(#ecf4fc));
    background: linear-gradient(to bottom, #9395a0 5%, #ecf4fc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9395a0', endColorstr='#ecf4fc', GradientType=0);
    background-color: #ecf4fc;
}

button:active {
    position: relative;
    top: 1px;
}

.controls {
    height: 60px;
    width: 100px;
    margin: 10px;
}

/*---------- HEADER -----------*/
header {
    display: -webkit-box;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #d23934;
    font-family: 'calendas_plusregular', Arial, sans-serif;
    text-align: center;
    width: 100%;
    height: 100px;
    z-index: 100;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .4);
    -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .4);
    position: fixed;
    color: #fff;
}

#logo {
    margin: auto;
    width: 70px;
    height: auto;
}

#logo img {
    width: 100%;
}

h1 {
    margin: auto;
    font-size: 42px;
    line-height: 100px;
}

h1, h2 {
    text-shadow: 1px 1px 0 rgb(235, 227, 205), 4px 4px 0 rgba(82, 55, 53, 0.25);
}

h2 {
    color: #fff;
    text-align: center;
    font-size: 28px;
    font-weight: 200;
}

h1, h2, h3 {
    font-family: 'Graffiti_Paint_Brush', sans-serif;
}

/*---------- NAVIGATION -----------*/
nav {
    margin: auto;
}

nav ul {
    display: -webkit-box;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

nav ul li {
    list-style-type: none;
}

nav a {
    padding-right: 15px;
    color: #fff;
    font-size: 24px;
    font-family: 'Graffiti_Paint_Brush', sans-serif;
}

nav a:hover {
    color: #000;
}

/*Dropdown menu*/
nav #dropdown {
    display: none;
}

/*---------- SLIDER -----------*/
#section {
    padding-top: 250px;
    padding-bottom: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/background/location-velo-Lyon-application-javascript-2560x1707.jpeg);
    background-attachment: fixed;
}

#slides-container {
    height: 600px;
    display: -webkit-box;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding-top: 50px;
}

#slides {
    position: relative;
    height: 400px;
    width: 640px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.slide {
    position: absolute;
    height: 400px;
    width: 640px;
    opacity: 0;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.slide img {
    height: auto;
    width: 100%;
    border-radius: 10px / 10px;
    box-shadow: 0 14px 28px rgba(82, 55, 53, 0.25), 0 10px 10px rgba(82, 55, 53, 0.22);
    -webkit-box-shadow: 0 14px 28px rgba(82, 55, 53, 0.25), 0 10px 10px rgba(82, 55, 53, 0.22);
    -moz-box-shadow: 0 14px 28px rgba(82, 55, 53, 0.25), 0 10px 10px rgba(82, 55, 53, 0.22);
    zoom: 1;
    -moz-border-radius: 10px / 10px;
    -webkit-border-radius: 10px / 10px;
}

.showing {
    opacity: 1;
}

/*---------- MAP -----------*/
#mapSection {
    display: -webkit-box;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -ms-flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
}

#map {
    height: 600px;
    width: 100%;
}

#legend {
    height: 256px;
    margin: 0;
    display: -webkit-box;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background-image: url(../img/background/mur.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    font-family: 'Graffiti_Paint_Brush', sans-serif;
}

#legend h3 {
    font-size: 26px;
    font-weight: 200;
}

#legend div {
    display: -webkit-box;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

#legend div figure {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: auto;
    padding: 15px;
}

.legendImg {
    height: 64px;
    width: 64px;
    margin: 0 auto;
    display: block;
}

/*---------- Loader ----------*/
#loading {
    color: #fff;
    margin: 150px auto;
    font-family: 'Graffiti_Paint_Brush', sans-serif;
}

#loading p {
    font-size: 24px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

#loading div {
    font-size: 20px;
    text-align: center;
}

.loader .bar {
    width: 350px;
    height: 86px;
    border-bottom: 3px solid #fff;
    margin: 125px auto;
    position: relative;;
    font-size: 20px;
    overflow: hidden;
}

.loader .bar .sphere {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    animation: sliderLoader 1.75s infinite ease-in-out alternate;
    -moz-animation: sliderLoader 1.75s infinite ease-in-out alternate;
    -webkit-animation: sliderLoader 1.75s infinite ease-in-out alternate;
    -o-animation: sliderLoader 1.75s infinite ease-in-out alternate;
    -ms-animation: sliderLoader 1.75s infinite ease-in-out alternate;
}

@-webkit-keyframes sliderLoader {
    to {
        margin-left: 55%;
    }
}

@keyframes sliderLoader {
    to {
        margin-left: 55%;
    }
}

/*---------- RESERVATIONS -----------*/
#bookingContainer {
    height: 600px;
    width: 620px;
    background-color: #d23934;
    color: #fff;
}

.details-station-none {
    display: none;
}

.details-station {
    height: 350px;
    width: 500px;
    display: -webkit-box;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -ms-flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

#stationDetails p {
    font-size: 24px;
    text-align: center;
}

#pElt, #p2Elt {
    display: none;
}

#stationDetails h3 {
    text-align: center;
    font-size: 22px;
    font-family: 'Graffiti_Paint_Brush', sans-serif;
}

#stationDetails div {
    font-size: 20px;
    color: #fff;
    text-align: center;
}

#btnReserverElt {
    display: none;
}

.btnReserver {
    width: 200px;
    height: 50px;
    font-size: 18px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

#streetViewMap {
    display: none;
    width: 90%;
    height: 160px;
    border: solid rgba(210, 57, 52, 0.8) 1px;
    margin: 20px auto;
    border-radius: 10px / 10px;
}

/*---------- CANVAS ----------*/
.section-canvas-none {
    display: none;
}

.section-canvas {
    height: 500px;
    display: -webkit-box;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

#titre-canvas {
    background-color: rgba(210, 57, 52, 0.7);
    width: 100%;
    text-align: center;
    color: #fff;
    border-bottom: 2px solid #d23934;
}

#canvas {
    background-color: #ebeff3;
    border: solid #d23934 3px;
    cursor: url("../cursor/Grey-Spray.cur") 0 0, pointer;
}

#canvasBtn {
    display: -webkit-box;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -ms-flex-direction: row;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
}

#canvasVerification, #contract, #sign, #reset {
    display: none;
}

#sign, #reset {
    margin: 10px;
    width: 150px;
    height: 50px;
    font-size: 18px;
}

#contract {
    font-size: 16px;
    color: #fff;
    text-decoration: underline;
}

/*---------- TIMER ----------*/
#timerSection {
    width: 100%;
    height: 256px;
    display: -webkit-box;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -ms-flex-direction: row;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: url('../img/background/trottoir.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: top;
    color: #fff;
    font-family: 'Graffiti_Paint_Brush', sans-serif;
    padding: 25px 10px;
    margin-top: -1px;
}

#timer {
    display: -webkit-box;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -ms-flex-direction: column;
    font-size: 28px;
}

#pTimer, #endTimerMessage, #cancelBtn, #signDivElt {
    display: none;
}

#minutes, #seconds {
    color: #d23934;
    font-size: 32px;
}

#cancelBtn {
    width: 120px;
    height: 50px;
    font-size: 18px;
    -ms-grid-row-align: center;
    align-self: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
}

#figureSign {
    width: 175px;
    height: 100px;
    background-color: #ebeff3;
    border: solid #d23934 3px;
}

#imgSignature {
    width: 175px;
    height: 100px;
}

/*---------- FOOTER -----------*/
footer {
    background-color: #d23934;
    width: 100%;
    height: 90px;
    display: -webkit-box;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -ms-flex-direction: row;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}

footer, footer a {
    color: #fff;
}

/*---------- POP-UP CONTRACT -----------*/
#contract-container {
    overflow: hidden;
}

#contract-container article p, #contract-container h2 {
    text-align: center;
}

#contract-container p {
    line-height: 50px;
}

/*---------- MODAL CONTRACT -----------*/
#modalLink, .modal, #signatureModal {
    display: none;
}

/* Hidden by default */
#signatureModal {
    width: 116px;
    height: 66px;
    background-color: #fff;
    border: solid #d23934 3px;
}

#modalLink {
    font-size: 16px;
    color: #d23934;
    text-decoration: underline;
    text-align: center;
}

/* The Modal (background) */
.modal {
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(243, 238, 225, 0.2); /* Fallback color */
    background-color: rgba(243, 238, 225, 0.6); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-image: url("../img/background/mur-modal.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5% auto; /* 5% from the top and centered */
    padding: 25px;
    border: 1px solid #d23934;
    color: #000;
    font-size: 20px;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #d23934;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: rgb(82, 55, 53);
    text-decoration: none;
    cursor: pointer;
}

/*---------- MENTIONS LEGALES ----------*/
#legalNotice a {
    color: #d23934;
}

.display-none {
    display: none;
}

/*---------- MEDIA QUERIES -----------*/
@media (max-width: 1024px) {
    #mapSection {
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
    }

    #bookingContainer {
        width: 100%;
        height: auto;
    }

    #sectionCanvas {
        width: 100%;
    }

    #btnReserverVelo {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #stationDetails {
        width: 100%;
        margin-top: 50px;
        height: 400px;
    }
}

@media (max-width: 992px) {
    /*Dropdown menu*/
    nav ul {
        display: none;
    }

    nav #dropdown {
        display: block;
    }

    #dropbtn, #dropbtn-close {
        background-color: #EBEFF3;
        color: #d23934;
        font-size: 16px;
        border-radius: 5px / 5px;
        border-color: #EBEFF3;
    }

    #dropbtn-close {
        margin: 10px auto;
    }

    #dropdown-content {
        margin-top: 100px;
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #d23934;
        width: 100%;
        -webkit-box-shadow: 0px 8px 16px 0px rgba(82, 55, 53, 0.2);
        box-shadow: 0px 8px 16px 0px rgba(82, 55, 53, 0.2);
        z-index: 1;
    }

    #dropdown-content a {
        padding: 12px 16px;
        color: #ebe3cd;
        display: block;
    }

    #dropdown-content a:hover {
        background-color: #d23934;
        color: #523735;
    }

    #dropdown:hover .dropbtn {
        background-color: #EBEFF3;
    }

    /*réservations*/
    #stationDetails {
        width: 100%;
        margin-top: 50px;
        height: 400px;
    }

    #stationDetails p {
        font-size: 36px;
    }

    #legend {
        height: auto;
        min-height: 256px;
    }

    #timerSection {
        height: auto;
        min-height: 256px;
    }
}

@media (max-width: 770px) {
    #slides {
        height: 400px;
        width: 100%;
        max-width: 640px;
        padding: 0;
        margin: auto 0;
    }

    .slide {
        height: 100%;
        width: 100%;
    }

    .slide img {
        width: 100%;
    }

}

@media screen and (max-width: 600px) {
    #slides-container {
        height: auto;
        max-height: 500px;
    }

    .slide {
        height: auto;
    }

    #slide-btn {
        margin: 0 auto;
    }
}

@media screen and (max-width: 479px) {
    #slides-container {
        height: auto;
        max-height: 400px;
    }

    #prev, #next {
        width: 85px;
    }

    #legend > div {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -ms-flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
}

@media screen and (max-width: 398px) {
    #logo {
        display: none;
    }

    header > div {
        margin: 0 auto;
    }

    #slides-container {
        height: auto;
        max-height: 350px;
    }

    .controls {
        height: 60px;
        margin: 3px;
    }

    #prev, #next {
        width: 70px;
    }

    #btnReserverVelo {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #canvasBtn {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-align-items: flex-start;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }

    #timerSection {
        height: 420px;
    }
}

@media screen and (max-width: 281px) {
    #slides-container {
        max-height: 300px
    }

    #prev, #next {
        width: 50px;
    }

    .controls {
        margin: 1px;
    }

    #stationDetails {
        height: 500px;
    }
}